@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<StackOverFlow.Models.Question>
@foreach (var question in Model)
{
    <p>@Html.ActionLink((string)question.Title, "Details", "Question", new { id = question.Id})</p>
}