@model StackOverFlow.Models.Question

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Title: @Html.DisplayFor(model => model.Title)</h3>
<h2>Question: @Html.DisplayFor(model => model.Description)</h2>

@foreach(var answer in Model.Answers)
{
    @Html.DisplayFor(description => answer.Description)

}
